{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Routemap</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script defer src="{% static 'js/app.js' %}"></script>
</head>

<body>

<header>
    <span #hello>
        {{ message }}
    </span>
    <span>
            <a href="/about_me/">
            O mnie
            </a>
        </span>
    <span>
            <a href="/about_page/">
            O stronie
            </a>
        </span>
    {% if user.is_authenticated == False %}
        <span>
            <a href="/login_view/">
            Zaloguj
            </a>
        </span>
        <span>
            <a href="/register/">
            Zarejestruj
            </a>
        </span>
    {% endif %}
    {% if user.is_authenticated %}
        <span>
        <a href="/logout/">
            Wyloguj
        </a>
        </span>
    {% endif %}
</header>

<div class="menu">
    <span class="menu_element"><a href="/">Lista tras</a> </span>
    <span class="menu_element"><a href="/photo_spots/">Lista fotogenicznych miejsc</a> </span>
    <span class="menu_element"><a href="/add_route/">Dodaj swoją trasę</a> </span>
    <span class="menu_element"><a href="/add_photo_spot/">Dodaj fotogeniczne miejsce</a> </span>
    {% if user.is_authenticated %}
        <span class="menu_element"><a href="/lists/">Zarządzaj swoimi listami</a> </span>
    {% endif %}
</div>


<div class="content">
    {% block content %}{% endblock content %}
</div>


</body>
</html>